.section--paintings {
    min-height: 803px;
    padding-top: 40px;
    padding-bottom: 40px;

    @include mq($maxTabletWidth) {
        min-height: 389px;
        padding-top: 60px;
        padding-bottom: 20px;
    }
}

.section__content {
    min-height: 722px;
    padding-top: 0;
    padding-bottom: 0;

    @include mq($maxTabletWidth) {
        min-height: 617px;
    }
}
