.section--paintings {
    min-height: 803px;
    padding-top: 40px;
    padding-bottom: 40px;

    @include mq($maxTabletWidth) {
        padding-top: 60px;
        padding-bottom: 20px;
    }

    @include mq($minMobileWidth) {
        min-height: 382px;
    }

    @include mq($minMobileWidth + 1, $maxMobileWidth) {
        min-height: 389px;
    }

    @include mq($minTabletWidth, $maxTabletWidth) {
        min-height: 533px;
    }
}

.section__content {
    display: grid;
    row-gap: 40px;
    min-height: 722px;
    padding-top: 0;
    padding-bottom: 0;

    @include mq($minMobileWidth) {
        min-height: 302px;
    }

    @include mq($minMobileWidth + 1, $maxMobileWidth) {
        min-height: 309px;
    }

    @include mq($minTabletWidth, $maxTabletWidth) {
        min-height: 453px;
    }
}
