.logo {
    display: grid;
    grid-template: 100% / 100%;
    width: 60px;
    height: 60px;
}

::v-deep .image__core {
    width: 60px;
    height: 60px;
    color: $colorOrange;
    background-color: $colorSuperLight;

    @include mq($maxTabletWidth) {
        display: none;
    }
}

