.fade {
    &-enter {
        opacity: 0;

        &-active {
            transition: opacity 1.3s;
        }
    }

    &-leave {
        &-active {
            transition: opacity 1.3s;
        }

        &-to {
            opacity: 0;
        }
    }
}
