@mixin mq($from, $to: false) {
    @if $to {
        @media (min-width: #{$from - 0.9}px) and (max-width: #{$to + 0.9}px) {
            @content;
        }
    }

    @else {
        @media (max-width: #{$from + 0.9}px) {
            @content;
        }
    }
}

@mixin mqh($from, $to: false) {
    @if $to {
        @media (min-height: #{$from - 0.9}px) and (max-height: #{$to + 0.9}px) {
            @content;
        }
    }

    @else {
        @media (max-height: #{$from + 0.9}px) {
            @content;
        }
    }
}

@mixin fontface(
  $family, $local-name, $file-name,
  $format, $weight, $style
) {
    @font-face {
        font-family: $family;
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
        src:
            local('#{$local-name}'),
            url('/fonts/#{$file-name}.woff2') format('woff2'),
            local('#{$local-name}'),
            url('/fonts/#{$file-name}.woff') format('woff'),
            local('#{$local-name}'),
            url('/fonts/#{$file-name}.#{$format}') format('#{$format}');
    }
}

@mixin make-center() {
    margin-right: auto;
    margin-left: auto;
}

@mixin make-flex() {
    display: flex;
    flex-wrap: wrap;
}

// make-tamping-grid - сделать элемент гридом,
// содержимое которого будет вписано в него
@mixin make-tamping-grid {
    display: grid;
    grid-template: 100% / 100%;
}

// make-lined - сделать линованным
// (добавляет к элементу горизонтальную линию)
@mixin make-lined(
    $bottom: 0,
    $left: 0,
    $line-length: 100%,
  ) {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: $bottom;
        left: $left;
        width: $line-length;
        height: 1px;
        background-color: $colorSuperLight;
    }
}
