.fade-swipe-slider {
    display: grid;
    row-gap: 20px;
    width: 920px;

    &__random-navbar    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 58px;
        row-gap: 40px;
    }

    &__link {
        width: 83px;
        color: $colorLightGray;
    }

    .slider-screen {
        margin-top: 20px;
    }

    &__screen {
        @include mq($maxTabletWidth) {
            display: none;
        }
    }
}
