.fade-swipe-slider {
    display: grid;
    row-gap: 20px;
    width: 920px;

    .slider-screen {
        margin-top: 20px;
        @include mq($maxTabletWidth) {
            display: none;
        }
    }

    ::v-deep .image__core {
        background-color: $colorLightOlive;
    }
}
