.slider-screen {
    display: grid;
    align-items: center;
    width: 920px;
    height: 530px;
    text-align: center;
    overflow-y: hidden;

    @include mq($maxTabletWidth) {
        width: 100%;
        height: calc(156 / 320 * 100vw);
        overflow-x: hidden;
        cursor: move;
        touch-action: none;
    }

    &__film {
        @include mq($maxTabletWidth) {
            position: relative;
            display: flex;
            column-gap: calc(20 / 320 * 100vw);
            height: calc(156 / 320 * 100vw);
            padding-left: calc(60 / 320 * 100vw);
            padding-right: calc(60 / 320 * 100vw);
        }
    }
}

.is-transparent {
    opacity: 0;
}

.is-intransitive {
    transition-duration: 0s;
}
