.logo {
    @extend %phrase-wrapper;
}

.image--affinage {
    ::v-deep .image__core {
        @media (max-width: $maxMobileWidth) {
            display: none;
        }

        @media (min-width: $minDesktopWidth) {
            width: 60px;
            height: 60px;
            color: $colorOrange;
            background-color: $colorSuperLight;
        }
    }
}
