.image--holiday {
    ::v-deep .image__core {
        width: 460px / 800px * 100vh;
        min-width: 460px / 800px * 613px;
        height: 100vh;
        min-height: 613px;
        background-color: $colorOrange;

        @include mq($maxTabletWidth) {
            width: 100%;
            min-width: 100%;
            height: 125px / 320px * 100%;
            min-height: 125px / 320px * 100%;
        }
    }
}
