.image--holiday {
    ::v-deep .image__core {
        background-color: $colorOrange;

        @media (max-width: $max-mobile-width) {
            width: 100vw;
            height: 125px / 320px * 100vw;
        }

        @media (min-width: $min-desktop-width) {
            width: 460px / 800px * 100vh;
            min-width: 460px / 800px * 480px;
            height: 100vh;
            min-height: 480px;
        }
    }
}
