.button {
    &--preview {
        width: 120px;
        height: 90px;

        ::v-deep .image__core {
            height: 90px;
            font-size: 10px;
            line-height: 7px;
            filter: brightness(0.55);
            color: $colorBlack;
        }
    }
}

.is-active {
    ::v-deep .button__core {
        cursor: default;
    }

    ::v-deep .image__core {
        filter: brightness(1);
    }
}
