.page-header {
    display: grid;
    min-height: 100vh;

    @media (max-width: $max-mobile-width) {
        display: flex;
        flex-direction: column;
    }

    @media (min-width: $min-desktop-width) {
        grid-template: 2 / 2;
    }

    &__main {
        @media (min-width: $min-desktop-width) {
            flex-grow: 1;
            padding-top: 34px;
            padding-right: 100px;
            padding-bottom: 40px;
            padding-left: 100px;
        }
    }
}
