%visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}

@mixin define-v-hidden-table($base-class) {
    .#{$base-class}, .#{$base-class}:active,
    .#{$base-class}:checked,
    .#{$base-class}:not(:checked),
    .#{$base-class}:not(:focus):not(:active),
    .input[type='checkbox'].#{$base-class},
    .input[type='radio'].#{$base-class} {
        @extend %visually-hidden;
    }
}

@include define-v-hidden-table(
    visually-hidden
);
@include define-v-hidden-table(
    is-visually-hidden
);
