.slider-pagination {
    display: grid;
    width: 760px;
    min-height: 90px;
    overflow-x: hidden;

    @include mq($maxTabletWidth) {
        display: none;
    }

    &__film {
        display: flex;
        gap: 40px;
    }

    &__preview {
        width: 120px;
        height: 90px;
        cursor: pointer;

        ::v-deep .image__core {
            filter: brightness(0.55);
        }

        &--active {
            ::v-deep .image__core {
                filter: brightness(1);
            }

            cursor: default;
        }
    }

    ::v-deep .image__core {
        height: 90px;
    }
}
