.random-slider-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 58px;
    row-gap: 40px;
    width: 920px;
}

::v-deep .button--all {
    .button__core {
        position: relative;
        max-width: 83px;
        color: $colorLightGray;
        letter-spacing: 0.3px;

        &::after {
            content: '';
            position: absolute;
            top: calc(50% - 4.5px / 2 + 1px);
            right: -14.5px;
            width: 4.5px;
            height: 4.5px;
            border-top: 1.5px solid $colorLightGray;
            border-left: 1.5px solid $colorLightGray;
            transform: rotate(135deg);
        }
    }
}
