.random-slider-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 58px;
    row-gap: 40px;

}

::v-deep .internal-link__core {
    width: 54px;
    color: $colorLightGray;
}
