.second-image {
    display: grid;
    width: 920px;
    height: 667px;

    display: grid;
    grid-template: 100% / 100%;

    @include mq($minMobileWidth) {
        width: $minMobileWidth - 2 * 20px;
        height: 204 / 280 * ($minMobileWidth - 2 * 20px);
    }

    @include mq($minMobileWidth + 1, $maxTabletWidth) {
        width: calc(100vw - 2 * 20px);
        height: calc(204 / 280 * (100vw - 2 * 20px));
    }
}

::v-deep .image__core {
    height: 100%;
}
