.field {
    height: 29px;
    border: 0;

    @extend %phrase-wrapper;

    &__label {
        display: grid;
        grid-template: 100% / 100%;
    }

    &__screed {
        display: grid;
        grid-template: 100% / 100%;
    }
}
