.nav-bar {
    display: grid;

    @media (min-width: $minDesktopWidth) {
        grid-template-columns: 1fr auto;
        column-gap: 70px;
    }

    &__panel {
        justify-content: space-between;
        align-items: center;

        @include make-flex();

        @media (max-width: $maxMobileWidth) {
            width: 100%;
            min-height: 80px;
            padding-top: 25px;
            padding-right: 20px;
            padding-bottom: 4px;
            border-bottom: 1px solid $colorLightBlack;
            background-color: transparent;
        }

        @media (min-width: $minDesktopWidth) {
            align-content: flex-start;
            align-items: flex-start;
            min-height: auto;
            padding: 0;
            border-bottom: 0;
            background-color: transparent;
            margin-bottom: -20px;
            margin-left: -20px;
        }

        > :nth-child(n) {
            margin-bottom: 20px;
            margin-left: 20px;
        }
    }

    ::v-deep .button--toggle {
        @media (min-width: $minDesktopWidth) {
            display: none;
        }
    }
}

.is-closed {
    .list--nav {
        @include make-hidden-on-mobile;
    }
}
