.nav-bar {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr auto;
    column-gap: 70px;
    padding-right: 100px;
    padding-left: 80px;

    @include mq($maxTabletWidth) {
        display: flex;
        flex-direction: column;
        padding-right: 0;
        padding-left: 0;
    }

    &__panel {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 20px;
        padding: 0;
        border-bottom: 0;
        background-color: transparent;

        @include mq($maxTabletWidth) {
            justify-content: space-between;
            align-content: start;
            align-items: center;
            width: 100%;
            min-height: 29px;
            padding-top: 25px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            background-color: transparent;
            margin-bottom: 0;
            margin-left: 0;
        }
    }
}

.slot-wrapper--menu-toggle {
    display: none;

    @include mq($maxTabletWidth) {
        display: grid;
    }
}

::v-deep .sliding {
    margin-top: 5px;

    @include mq($maxTabletWidth) {
        margin-top: 0;
    }
}

.is-closed {
    .list--nav {
        @include mq($maxTabletWidth) {
            display: none;
        }
    }
}
