.page-header-main {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    padding-top: 35px;
    padding-bottom: 39px;

    @include mq($maxTabletWidth) {
        row-gap: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.index-intro {
    margin-top: 45px;

    @include mq($maxTabletWidth) {
        margin-top: 0;
    }
}

.affinage-logo {
    justify-self: end;
    align-self: start;
}
