
.consistent-slider-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 43px;

    @include mq($maxTabletWidth) {
        .button--arrow {
            &-left, &-right {
                display: none;
            }
        }
    }
}
