.field--search {
    width: 140px;

    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $colorSuperLight;
    }

    ::v-deep .field__core {
        color: $colorSuperLight;
        border: 0;
        background-color: transparent;

        /* IE */
        &::-ms-clear,
        &::-ms-reveal {
            display: none;
            width: 0;
            height: 0;
        }

        /* Chrome, Edge, Safary */
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
    }
}
